<html ng-app="assignment1">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular.min.js"></script>
        <script lang="javascript">
            var myModule = angular.module('assignment1', []);
            
            myModule.controller('TaxController',
            
                function ($scope) {
                    
                    myModule.controller('TaxController');
                    var tc = this;
                    
                    tc.cost = 0.0;
                    tc.add_tax = true;
                    tc.total_bill = true;
                    
                    function update(){
                        tc.tax = tc.add_tax ? tc.cost * tc.tax_option : 0.0;
                    }
                    
                    tc.taxing_options = [
                        {amount:4.0, name: "Alabama"},
                        {amount:0.0, name: "Alaska"},
                        {amount:5.6, name: "Arizona"},
                        {amount:6.5, name: "Arkansas"},
                        {amount:7.5, name: "California"},
                        {amount:2.9, name: "Colorado"},
                        {amount:6.35, name: "Connecticut"},
                        {amount:0.0, name: "Delaware"},
                        {amount:4.0, name: "District of Columbia"},
                        {amount:4.0, name: "Florida"},
                        {amount:4.0, name: "Georgia"},
                        {amount:4.0, name: "Hawaii"},
                        {amount:4.0, name: "Idaho"},
                        {amount:4.0, name: "Illinois"},
                        {amount:4.0, name: "Indiana"},
                        {amount:4.0, name: "Iowa"},
                        {amount:4.0, name: "Kansas"},
                        {amount:4.0, name: "Kentucky"},
                        {amount:4.0, name: "Louisiana"},
                        {amount:4.0, name: "Maine"},
                        {amount:4.0, name: "Maryland"},
                        {amount:4.0, name: "Massachusetts"},
                        {amount:4.0, name: "Michigan"},
                        {amount:4.0, name: "Minnesota"},
                        {amount:4.0, name: "Mississippi"},
                        {amount:4.0, name: "Missouri"},
                        {amount:4.0, name: "Montana"},
                        {amount:4.0, name: "Alabama"},
                        {amount:4.0, name: "Alabama"},
                        {amount:4.0, name: "Alabama"},
                        {amount:4.0, name: "Alabama"},
                        {amount:4.0, name: "Alabama"},
                        {amount:4.0, name: "Alabama"},
                        {amount:4.0, name: "Alabama"},
                        {amount:4.0, name: "Alabama"},
                        {amount:4.0, name: "Alabama"},
                        {amount:4.0, name: "Alabama"},
                        {amount:4.0, name: "Alabama"},
                        {amount:4.0, name: "Alabama"},
                        {amount:4.0, name: "Alabama"},
                        {amount:4.0, name: "Alabama"},
                        {amount:4.0, name: "Alabama"},
                        {amount:4.0, name: "Alabama"},
                        {amount:4.0, name: "Alabama"},
                        {amount:4.0, name: "Alabama"},
                        
                        ];
                        
                        tc.taxing = tc.taxing_options[0];
                }
            )
        </script>
    </head>
    <body>
        <div ng-controller = "TaxController as cc">
            <p>
                Total Bill: <input type="text" ng-model="tc.total_bill" placeholder="total"/><br/>
                Tax: <select ng-model="tc.taxing" ng-options="s.name for s in tc.taxing_options"></select>
            </p>
        </div>
    </body>
</html>